@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

body{
    background-color: #FAEDCD;
    font-family: "Atma", system-ui;
    font-weight: 300;
    font-style: normal;
}

main img {
width: 100px;
border-radius: 20px;
}

.inicio{
background-color: #CCD5AE ;

}
.info{
    display: flex;
    justify-content: center;
    background-color: #E9EDC9;
    
}
.info h2 {
    justify-content: center;
}
.minfo{
    background-color: #E9EDC9;
}
.inicio a {
    text-decoration: none;
    color: #000;
    align-items: flex-end;
    
}
a:hover{
    text-decoration: overline;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.todo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.caja img{
width: 320px;
height: 220px;
border-radius: 5px;
}
.caja:hover{
    background-color: #E9EDC9;
    overflow: hidden;
    transform: translate(-5px);
    
}
.caja{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
   
}
.letra {
 color: #000;
}
.mas{
    text-align: center;
}

.ultargeta{
justify-content: center;
}
.ulcaja:hover{
    background-color: #E9EDC9;
    transform: translate(-5px);

}
.ulcaja{
    display: flex;
    flex-direction: row;
    height: 420px;
    width: 50%;
    margin: auto;
    border-radius: 7px;
    box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    box-sizing: border-box;
}
.ulcaja img{
    width: 250px;
}
.ulletra{
    display: flex;
    flex-direction: column;
}
.ulletra a {
text-decoration: none;
color: #000;
}

.pie{
    justify-items: center;
    background-color: #D4A373;
}


   